Flask==3.1.0
Flask-Cors==5.0.0
flask-openapi3==4.0.3
flask-openapi3-elements==8.5.0
flask-openapi3-rapidoc==9.3.8
flask-openapi3-rapipdf==2.2.1
flask-openapi3-redoc==2.2.0
flask-openapi3-scalar==1.25.72
flask-openapi3-swagger==5.18.2
Flask-SQLAlchemy==3.1.1
Jinja2==3.1.4
nose2==0.15.1
pydantic==2.10.3
pydantic_core==2.27.1
SQLAlchemy==2.0.36
SQLAlchemy-Utils==0.41.2
typing_extensions==4.12.2
Werkzeug==3.1.3